<div class="card" style="margin: 100px">
  <div class="card-container">
    <h1 class="mb-5">User Management</h1>

    <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
            <tr>
                <th>ID</th>

                <th>Benutzer Name</th>

                <th>Vorname</th>

                <th>Nachname</th>

                <th>Email</th>

                <th>Geschlecht</th>

                <th>Rolle</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let post of Users">
                <td>{{ Users.id }}</td>

                <td>{{ Users.BenutzerName }}</td>

                <td>{{ Users.Vorname }}</td>

                <td>{{ Users.Nachname }}</td>

                <td>{{ Users.Email }}</td>

                <td>{{ Users.Geschlecht }}</td>

                <td>{{ Users.Rolle }}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

